Mustang Specs By Year: <br><br>
<%@mustangs.each do |car|%>
  <% if car.year === params[:year] %>
    <div class = "car">
      Name: <%=car.name%><br>
      Year: <%=car.year%><br>
      0 - 60: <%=car.to_sixty%><br>
      1/4 Mile: <%=car.quarter_mile%><br><br>
    </div>
  <% end %>
<% end %>
<% if !@years.include?(@year) %>
  There may not be specs for that year. <%= link_to "Please Try Again", mustangs_path %><br><br>
<%end%>
