<nav class="">
  <%if current_user%>
      <h4>Signed in as <%= current_user.username %> | <%= link_to "Home", '/' %> | <%= link_to "Logout", '/logout' %></h4>
  <%else%>
    <%= link_to 'Signup', '/signup' %> | <%= link_to 'Login', '/login' %>
  <%end%>
</nav>
