<!DOCTYPE html>
<html>
  <head>
    <title>Mustang Spec App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Welcome to the Mustang Spec App</h1><br><br>
    <%= render 'layouts/header' %> <br>
    <%= yield %>
  </body>
</html>
